<a href="https://colab.research.google.com/github/Jorge-89/Data-Science-CoderHouse/blob/main/After_python_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [ ]:
#Factorial 
def factorial(x):
    arreglo= np.array(range(1,x+1), dtype=float)
    return np.prod(arreglo)

In [ ]:
factorial(100)

9.33262154439441e+157

In [ ]:
#sumatoria
def suma(x,y):
   
    if x>y:
        print("Debe ingresar primero el menor de los n√∫meros")           
        
    else:
         a=np.array(range(x,y+1))
    return np.sum(a)

while True:
    try:
        x = int(input("ingrese el menor valor de la serie: "))
        y=  int(input("ingrese el mayor valor de la serie: "))

        break
    except ValueError:
        print("Oops!  Los valores a ingresar deben ser enteros")
suma(x,y)

ingrese el menor valor de la serie: 2
ingrese el mayor valor de la serie: 4

9

In [3]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving Salarios Openqube - 2020.02.csv to Salarios Openqube - 2020.02.csv

In [56]:
import io 
  
df = pd.read_csv(io.BytesIO(uploaded['Salarios Openqube - 2020.02.csv'])) 
df.head()

,Timestamp,Me identifico,Tengo,Estoy trabajando en,D√≥nde est√°s trabajando,Bolivia,Chile,Colombia,Cuba,Costa Rica,...,¬øCon cu√°ntas personas est√°s conviviendo?,¬øCon qui√©nes conviv√≠s?,¬øTen√©s un espacio dedicado para el trabajo?,¬øTen√©s que compartir tu equipo de trabajo con alguien?,¬øQu√© tipo de cuarentena est√°s haciendo?,¬øCambi√≥ tu situaci√≥n laboral a ra√≠z de la pandemia?,¬øQu√© tanto sent√≠s que te est√° apoyando tu empresa en esta situaci√≥n?,¬øC√≥mo se vio afectada tu empresa?,¬øInstauraron alg√∫n beneficio nuevo?,"¬øCu√°les consider√°s que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?"
0,7/6/2020 9:56:02,Mujer,26,Argentina,Ciudad Aut√≥noma de Buenos Aires,NaN,NaN,NaN,NaN,NaN,...,0,Vivo solo/a,No,No,4,Decid√≠ buscar otro trabajo,7,No la afect√≥,No,NaN
1,7/6/2020 9:57:09,Hombre,29,Argentina,Corrientes,NaN,NaN,NaN,NaN,NaN,...,1,-,No,No,3,"Cambi√© de trabajo, pero no por la pandemia",8,No la afect√≥,No,NaN
2,7/6/2020 9:58:09,Mujer,22,Argentina,Ciudad Aut√≥noma de Buenos Aires,NaN,NaN,NaN,NaN,NaN,...,1,Pareja,No,No,4,"Cambi√© de trabajo, pero no por la pandemia",8,Se vio beneficiada,"Clases de gimnasia, Clases de meditaci√≥n, Clas...",NaN
3,7/6/2020 9:59:52,Hombre,39,Argentina,Corrientes,NaN,NaN,NaN,NaN,NaN,...,1,Pareja,S√≠,No,4,No,4,"Cerr√≥ oficinas, Bajaron los sueldos o pagan pa...",No,NaN
4,7/6/2020 10:01:27,Hombre,32,Argentina,Ciudad Aut√≥noma de Buenos Aires,NaN,NaN,NaN,NaN,NaN,...,2,"Pareja, Hijos/as (tiempo completo)",S√≠,No,3,No,6,Nos obligaron a tomarnos vacaciones,No,NaN

In [42]:
len(df["Salario mensual NETO (en tu moneda local)"])

6415

In [43]:
#contar los NaN
df["Salario mensual NETO (en tu moneda local)"].isna().sum()

217

In [44]:
media = df["Salario mensual NETO (en tu moneda local)"].mean()

TypeError: ignored

In [45]:
def convertir(x):
  x=float(x)
  return x

In [46]:
df["Salario mensual NETO (en tu moneda local)"].apply(convertir)

ValueError: ignored

In [57]:
df["Salario mensual NETO (en tu moneda local)"]=df["Salario mensual NETO (en tu moneda local)"].replace('\.', '', regex=True)

In [58]:
df["Salario mensual NETO (en tu moneda local)"].apply(convertir)

0        43000.0
1        63000.0
2       127000.0
3       102000.0
4       106000.0
          ...
6410     97000.0
6411     71000.0
6412     45753.0
6413        72.0
6414     65000.0
Name: Salario mensual NETO (en tu moneda local), Length: 6415, dtype: float64

In [59]:
df["Salario mensual NETO (en tu moneda local)"][df["Salario mensual NETO (en tu moneda local)"]=='39434784']

4041    39434784
Name: Salario mensual NETO (en tu moneda local), dtype: object

In [60]:
df["Salario mensual NETO (en tu moneda local)"]=df["Salario mensual NETO (en tu moneda local)"].apply(convertir)

In [37]:
df["Salario mensual NETO (en tu moneda local)"].mean()

19365379.357857373

In [38]:
df["Salario mensual NETO (en tu moneda local)"].median()

78000.0

In [39]:
df["Salario mensual NETO (en tu moneda local)"] = pd.to_numeric(df["Salario mensual NETO (en tu moneda local)"], errors="coerce")

In [40]:

df["Salario mensual NETO (en tu moneda local)"] = pd.to_numeric(df["Salario mensual NETO (en tu moneda local)"], errors="coerce")
media = df["Salario mensual NETO (en tu moneda local)"].mean()
print("La media es: " + str(media))

La media es: 19365379.357857373

Construir una funci√≥n que permita calcular el volumen de una esfera, el programa debe permitir que el usuario pueda ingresar la altura y el radio, si uno de estos valores es negativo debe ser notificado por pantalla del error cometido
.

In [ ]:
def volumen(r, h):
    if r <0 or h <0:
        print("ha ingresado uno o dos valores negativo, revise los datos nuevamente")
    else:
        print("El volumen del cilindro es: ", r*h*3.14)

h=float(input("ingrese el valor de la altura: "))
r= float(input("ingrese el valor del radio: "))
volumen(h,r)

ingrese el valor de la altura: 8
ingrese el valor del radio: 2
El volumen del cilindro es:  50.24

Ejercicio 1) 

Una pelota de goma cada vez que es arrojada desde una altura entre 10 y 1000 metros cuando toca el piso salta 3/5 de la altura desde la que cay√≥. Escrib√≠ un programa  que imprima  las alturas que alcanza en cada uno de sus rebotes con 1 decimal y guardelo en una lista. El usuario debe poder ingresar los rebotes y la altura.

In [ ]:
def pelota(rebotes,altura):
    lista= []
    
    for i in range(rebotes):
        nueva_altura=round(altura*3/5,1)
        altura=altura*3/5
        lista.append(nueva_altura)
    return lista

In [ ]:
pelota(10,100)

[60.0, 36.0, 21.6, 13.0, 7.8, 4.7, 2.8, 1.7, 1.0, 0.6]

Ejercicio 2: Geringoso r√∫stico
Usar una iteraci√≥n sobre el string cadena para agregar la s√≠laba 'pa', 'pe', 'pi', 'po', o 'pu' seg√∫n corresponda luego de cada vocal.

In [ ]:
#ejemplo base
>>> cadena = 'Geringoso'
>>> capadepenapa = ''
>>> for c in cadena:
        ?
>>> capadepenapa
Geperipingoposopo

In [ ]:
cadena = 'Geringoso'
capadepenapa = ''
for c in cadena:
    if c in "aeiou":
       capadepenapa+= c+"p"+c
    else:
        capadepenapa+= c 
print(capadepenapa)

Geperipingoposopo

Construir una funci√≥n que, a partir de una lista de palabras, devuelva un diccionario geringoso. Las claves del diccionario deben ser las palabras de la lista y los valores deben ser sus traducciones al geringoso (como en el Ejercicio anterior). Prob√° tu funci√≥n para la lista ['tomate', 'cebolla', 'lechuga', 'zanahoria']

In [ ]:
def geringoso(lista):


    valores=[]

    for c in claves:
        capadepenapa = ''
        for d in c:

            if d in "aeiou":
                capadepenapa+= d+"p"+d
            else:
                capadepenapa+= d 
        
        valores.append(capadepenapa)
    diccionario_geringoso = dict(zip(claves, valores))
    
    return diccionario_geringoso

In [ ]:
claves= ['tomate', 'cebolla', 'lechuga', 'zanahoria']
geringoso(claves)

{'cebolla': 'cepebopollapa',
 'lechuga': 'lepechupugapa',
 'tomate': 'topomapatepe',
 'zanahoria': 'zapanapahoporipiapa'}

In [ ]:

diccionario={'banana':'','guerra': ''}
for c in diccionario:
    for d in c:
        if d in "aeiou":
            diccionario[c]+= "p"+d+"p"
        else:
            diccionario[c]+= d 
diccionario

{'banana': 'bpapnpapnpap', 'guerra': 'gpuppeprrpap'}

In [ ]:
diccionario['banana']

'bpapnpapnpap'