In [8]:
import pandas as pd
from scipy.stats import chi2_contingency

# Crear un dataframe de ejemplo
data = pd.DataFrame({
    'Género': ['Hombre', 'Mujer', 'Mujer', 'Hombre', 'Hombre', 'Hombre'],
    'Grupo de Edad': ['Joven', 'Joven', 'Adulto', 'Adulto', 'Adulto', 'Adulto'],
    'Región': ['Norte', 'Sur', 'Norte', 'Sur', 'Norte', 'Norte']
})



data

   Género Grupo de Edad Región
0  Hombre         Joven  Norte
1   Mujer         Joven    Sur
2   Mujer        Adulto  Norte
3  Hombre        Adulto    Sur
4  Hombre        Adulto  Norte
5  Hombre        Adulto  Norte

H0: No hay relación en las variables.
hipotesis nula

In [13]:
# Crear una tabla de contingencia
tabla_contingencia_observados = pd.crosstab(data['Género'], [data['Grupo de Edad'], data['Región']], margins=True)
tabla_contingencia_observados

Grupo de Edad Adulto     Joven     All
Región         Norte Sur Norte Sur
Género
Hombre             2   1     1   0   4
Mujer              1   0     0   1   2
All                3   1     1   1   6

In [14]:
test=chi2_contingency(tabla_contingencia)
test

# primer elemento es el estadistico la diferencia de los elementos al cuadrado

# el segundo es el p-value

# luego una tabla de los valores esperados

(3.0000000000000004,
 0.3916251762710888,
 3,
 array([[2.        , 0.66666667, 0.66666667, 0.66666667],
        [1.        , 0.33333333, 0.33333333, 0.33333333]]))

In [37]:
esperados= pd.DataFrame(test[3])
esperados

# valores teoricos esperados sino hubiera relación

     0         1         2         3
0  2.0  0.666667  0.666667  0.666667
1  1.0  0.333333  0.333333  0.333333

In [32]:
# Transformar los datos en porcentaje
Obser_relativos = tabla_contingencia_observados.apply(lambda x: round((x / len(data)) * 100,1), axis=1)

# Imprimir los datos en porcentaje
Obser_relativos

Grupo de Edad Adulto       Joven          All
Región         Norte   Sur Norte   Sur
Género
Hombre          33.3  16.7  16.7   0.0   66.7
Mujer           16.7   0.0   0.0  16.7   33.3
All             50.0  16.7  16.7  16.7  100.0

In [28]:
def porcentaje(x):
    return round(100*(x/len(data)),1)

Obser_relativos2= tabla_contingencia_observados.apply(porcentaje)
Obser_relativos2

Grupo de Edad Adulto       Joven          All
Región         Norte   Sur Norte   Sur
Género
Hombre          33.3  16.7  16.7   0.0   66.7
Mujer           16.7   0.0   0.0  16.7   33.3
All             50.0  16.7  16.7  16.7  100.0

In [39]:
# Transformar los datos en porcentaje
esperados_relativos = esperados.apply(lambda x: round((x / len(data)) * 100,1), axis=1)

# Imprimir los datos en porcentaje
esperados_relativos

      0     1     2     3
0  33.3  11.1  11.1  11.1
1  16.7   5.6   5.6   5.6

In [ ]:
# el test nos ayuda a saber si por ejemplo 16.6 es suficientemente más grande que 11.11, nosotros no sabemos si es much o poco
# el test nos ofrece realizar comparaciones punto a punto y luego contsrarlas con una distribución chi cuadrada

In [27]:
# Realizar la prueba de chi-cuadrado
chi2, p_valor, grados_libertad, esperados = chi2_contingency(tabla_contingencia)

# Imprimir los resultados
print("Estadístico de chi-cuadrado:", chi2)
print("Valor p:", p_valor)
print("Grados de libertad:", grados_libertad)
print("Frecuencias esperadas:\n", esperados)

Estadístico de chi-cuadrado: 3.0000000000000004
Valor p: 0.3916251762710888
Grados de libertad: 3
Frecuencias esperadas:
 [[2.         0.66666667 0.66666667 0.66666667]
 [1.         0.33333333 0.33333333 0.33333333]]

El p-value es una medida utilizada en estadística para cuantificar la evidencia en contra de la hipótesis nula. Representa la probabilidad de obtener un resultado igual o más extremo que el observado, asumiendo que la hipótesis nula es verdadera

Si el valor p es menor a 0.05, generalmente se considera que hay diferencias significativas en los datos. En otras palabras, si el valor p obtenido en una prueba estadística es menor a 0.05, se concluye que hay evidencia estadística significativa para rechazar la hipótesis nula y afirmar que existe una asociación o relación en los datos